name: CI/CD smart-buffer-tanks

# Trigger the workflow on pushes to the main branch (adjust as needed)
on:
  push:
    paths:
      - milk-services/prod-line-sys/smart-buffer-tanks/temperature-sensor
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  SUBPROJECT_PATH: milk-services/prod-line-sys/smart-buffer-tanks/temperature-sensor
  CACHE_PATH: milk-services/prod-line-sys/smart-buffer-tanks/temperature-sensor/cache
  APP_NAME: temp-sensor

  # The base name of the docker image. e.g. ghcr.io/<REPO_NAME>/<IMAGE_BASE_NAME>:<VERSION_TAG>
  IMAGE_BASE_NAME: milk-services/prod-line-sys/smart-buffer-tanks/temperature-sensor

# The workflow uses the newest Ubuntu runner
jobs:
  build-and-push-temp-sensor:
    runs-on: ubuntu-latest

    # Required permissions: push to packages
    permissions:
      contents: read        # for actions/checkout
      packages: write       # to push to ghcr.io

    steps:
      # 1️⃣ Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            ${{ env.SUBPROJECT_PATH }}

      - name: Cache
        uses: actions/cache@v4
        with:
          path: ${{ env.CACHE_PATH }}
          key: ${{ runner.os }}-${{ hashFiles(format('{0}/**/Package.resolved', env.SUBPROJECT_PATH)) }}
          restore-keys: |
            ${{ runner.os }}-

      # 2️⃣ Log in to GitHub Container Registry (ghcr.io)
      #    GITHUB_TOKEN is automatically injected into the runner.
      - name: Log in to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}          # usually your GitHub username
          password: ${{ secrets.GITHUB_TOKEN }}  # the token is automatically available

      # See https://github.com/orgs/community/discussions/25768
      - name: Convert tags to lowercase
        id: converted_tags
        env:
          TAGS:
            ghcr.io/${{ github.repository }}/${{ env.IMAGE_BASE_NAME }}:${{ github.sha }}
            ${{ github.ref == 'refs/heads/main' && format('ghcr.io/{0}/{1}:latest', github.repository, env.IMAGE_BASE_NAME)  || '' }}
        run: |
          printenv TAGS | awk '{print "TAGS=" tolower($0)}' | tee -a "$GITHUB_OUTPUT"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 5️⃣ Build the Docker image and push it to ghcr.io
      - name: Build & push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ${{ env.SUBPROJECT_PATH }}
          push: true
          build-args: |
            APP_NAME=${{ env.APP_NAME }}

          tags: |
            ${{ steps.converted_tags.outputs.TAGS }}

          labels: |
            org.opencontainers.image.source=${{ github.repositoryUrl }}
            org.opencontainers.image.version=${{ github.sha }}

          cache-from: type=local,src=${{ env.CACHE_PATH }}
          cache-to: type=local,dest=${{ env.CACHE_PATH }}
